*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    border: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
button{
    cursor: pointer;
    border: none;
}
body{
    font-size: 1rem;
}
.container{    
    max-width: 1140px;
    margin: 0 auto;
}
.title-color{    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
}
.logo-container {
    display: flex;
    gap: 20px;
}
.logo-container .logo-title{
    font-size: 2.8rem;
    color: #0B0223;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo-title span{
    color: #FF42A5;
}
.logo-container img {
    width: 85px;
    height: auto;
    object-fit: contain;
}
.nav-items-container{

}
.nav-items-container ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}
.nav-items-container ul li{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.social-icon {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
}
.social-icon img{
    width: 40px;
    height: auto;
}
 /* play section css */
.play-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.play-content h1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.play-content h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icon-description {
    display: flex;
    gap: 10px;
}
.icon-description p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.icon-description img{
    width: 24px;

}
.play-cartoon{
    display: block;
    position: relative;
}
.play-cartoon img {
    width: 45vw;
    height: auto;
}
.duel-button {
    display: inline-flex;
    gap: 10px;
    margin-top: 30px;
}
.btn-primary{
    padding: 20px 40px;
    background: #FF42A5;
    color: #FFF;
    border-radius: 48px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.btn-blue{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 20px 40px;
}
/* gamer section css  */
.gamer-box {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-contain-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.team-cartoon{
    display: block;
    position: relative;
}
.team-cartoon img {
    width: 45vw;
    height: 80vh;
}
.team-content{
    text-align: right;
    padding: 95px 0px;
}
.team-content h3{
    text-align: right;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team-content p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px 25px 112px;
}
.team-content .small-quote{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    padding-top: 10px;
}
.team-content .small-quote span{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.73rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    display: block;
    padding: 0px;
}
/* videos section css */
.videos-section{
    margin: 40px 0px;
}
.videos-section h4{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}
.videos-section .video-text{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.video-content img {
    position: relative;
    cursor: pointer;
}
.video-content>p{
    padding-top: 15px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}
.content{
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     background: rgba(0,0,0,0);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    opacity: 0;
    transition: 0.86s;
}
.content:hover{
    opacity: 1;
}
.content img{
    width: 35px;
    height: 35px;
}
.content p{
    font-size: 16px;
    color: red;
}
.content>*{
    transform: translateY(25px);
    transition: .6s;
}
.content:hover>*{
    transform: translateY(0px);
}
.play-instantly{
    margin: 80px 0px;
}
.play-container{
    display: flex;
    align-items: center;

}
.play-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.play-description h5{
    font-family: Work Sans;    
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    padding-right: 30%;
}
.play-description p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    padding-right: 30%;
    padding-left: 15%;
}
.play-image-container{
    display: block;
    position: relative;
}
.bunny {
    width: 55%;
    height: auto;
    position: absolute;
    display: flex;
    bottom: -17%;
    left: -20%;
}
.play-game-instantly{
    margin: 180px 0px 180px 0px
}
.play-game{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;   
}
.play-game h5{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    padding-left: 10%;
}
.play-game p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    padding-left: 37%;
}
.bunny-2 {
    width: 55%;
    height: auto;
    position: absolute;
    display: flex;
    bottom: -17%;
    left: 65%;
}
/* career section css */
.career{
    background-color: #FF42A5;
    padding: 50px 0px;
}
.career-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-context {
    padding-right: 5%;
}
.career-context .title-area{
    text-align: left;
}
.career-context .title-area h6{
    color: #FFF;
    font-size: 2.5rem;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.career-context .title-area p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    padding: 15px 0px;
}
.career-context .title-list {
    padding: 15px 0px 25px 0px;
}
.career-context .title-list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}
.career-context .title-list > ul li{
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}
.career-context .title-list > ul:nth-child(2) li{
    text-align: right;
}
.career-context .btn-position{
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    padding: 20px 40px;
    background: #FFF;
    color: #FF42A5;
}
.career-image img{
    width: 500px;
    height: auto;
}
/* game section css */
.gaming-logo{
    padding: 50px 0px;
}
.game-container {
    /* display: grid; */
    /* align-content: center; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* align-items: center; */
    /* grid-column-gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
.game-content {
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;    
    padding: 10px 10px;
}
.game-content img{
    width: 40px;
    height: 40px;
}
.game-content p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo-margin {
    margin-left: 9%;
    margin-top: 30px;
}
/* footer css */
.black-bg{
    background: #000;
    padding: 120px 0px;
    text-align: center;
}
.ft-white{
    color: #FFF!important;
}
.footer-logo{
    justify-content: center;
}
.menu ul,
.social-link ul,
.policy-list ul{
    display: flex;
    justify-content: center;
}
.menu ul li,
.social-link ul li,
.policy-list ul li,
.nav-items-container ul li{
   padding: 20px;   
   cursor: pointer;
}
.menu ul li{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.social-link img{
    width: 40px;
    height: auto;
}
.social-link .youtube{
    height: 40px;
    width: 50px;
}
.policy-list{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.black-bg p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.game-content:hover{
    cursor: pointer;
    border: 1px solid pink;
}
/* hover overlay effect css */
.overlay {
    position: relative;
    /* background-color: #00000094; */
    cursor: pointer;
  }
  
.overlay > .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay:hover > .image {
    opacity: 0.3;
  }
  
  .overlay:hover .middle {
    opacity: 1;
  }
  
  .text {
    /* background-color: #04AA6D; */
    color: rgb(63, 55, 55);
    padding: 16px 32px;
  }
  .text > img{
    width: 48px;
    height: auto;
  }



/* Responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    .container{
        padding: 0px 30px;
    }
    .nav-container,
    .nav-items-container ul {
        flex-direction: column;
        gap: 35px;
    }
    .logo-container{
        margin-bottom: 30px;
    }
    .play-box {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .play-content {
        justify-content: center;
        padding-top: 30px;
    }
    .play-content h1{
        font-size: 2.5rem;
    }
    .play-content h2{
        font-size: 4.9rem;
    }
    .icon-description {
        justify-content: flex-start;
    }
    .play-cartoon img {
        width: 100%;
        height: 40vh;
    }
    /* gams section css */
    .gamer-box{
        background: #FFF;
        margin: 30px 0px;
    }
    .game-contain-layout{
        display: flex;
        flex-direction: column;
    }
    .team-cartoon img {
        width: 100%;
        height: 100%;
    }
    .team-content {
        gap: 15px;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
    }
    .team-content p {
        padding: 0px 26px;
    }
    .team-content .small-quote {
        padding: 20px 10px 0px;
    }
    .team-content,
    .team-content h3,
    .team-content p,
    .team-content .small-quote{
        text-align: center;
    }
    .team-content .small-quote span{
        display: block;
    }
    .btn-sm{
        width: 60%;
        margin: 0 auto;
    }
    .team-content .small-quote span {
        font-size: 1.2git gitrem;
    }
    .video-container,
    .play-container,
    .play-game,
    .career-container {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    .videos-section .video-text {
        font-size: .8rem;
    }
    .videos-section h4 {
        font-size: 1.6rem;
    }
    .play-description p,
    .play-game p,
    .play-description h5,
    .play-game h5 {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    .career-image img {
        width: 100%;
        height: auto;
    }
    .bunny {
        width: 45%;
        bottom: -6%;
        left: -6%;
    }
    .bunny-2 {
        width: 45%;
        bottom: -6%;
        left: 61%;
    }
    .play-game-instantly {
        margin: 80px 0px 80px 0px;
    }
    .career-context {
        padding-right: 0%;
    }
    .career-context .title-list > ul li {
        font-size: 14px;
    }
    .career-context .btn-position {
        font-size: 15px;
        padding: 15px 25px;
    }
    .career-image {
        padding-top: 30px;
    }
    .menu ul, .social-link ul {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .policy-list{
        padding: 20px 0px;
    }
    .policy-list ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .menu ul li, .social-link ul li, .policy-list ul li {
        padding: 20px 0px;
        font-size: 15px;
    }
    .black-bg p {
        padding: 0px 20px;
        line-height: 1.6rem;
    }
    .game-container {
        display: grid;
        /* align-content: center; */
        grid-template-columns: repeat(2, 1fr);
        /* align-items: center; */
        /* grid-column-gap: 20px; */
        /* display: flex; */
        /* flex-wrap: wrap; */
        gap: 10px;
    }
    
    .game-content img {
        width: 30px;
        height: 30px;
    }
    .game-content p {
        font-size: 14px;
    }
    .logo-container {
        gap: 10px;
    }
    .logo-container img {
        width: 65px;
    }
    .logo-container .logo-title {
        font-size: 2rem;
}

}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .container {
        padding: 0px 20px;
    }
    .logo-container img {
        width: 70px;
    }
    .logo-container .logo-title{
        font-size: 2rem;
    }
    .menu ul li, .social-link ul li, .policy-list ul li, .nav-items-container ul li{
        font-size: 1.2rem;
    }
    .nav-items-container ul{
        gap: 10px;
    }
    .nav-container {
        padding: 25px 0px;
    }
    .team-content p {
        padding: 25px 0px 25px 10px;
    }
    .team-cartoon img {
        width: 53vw;
        height: 100vh;
    }
    .team-content .small-quote span{
        font-size: 1.3rem;
        line-height: 30px;
    }
}